/* ---------------------------------------------------------
   Import af font
--------------------------------------------------------- */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* ---------------------------------------------------------
   Root-variabler
   - px: billedstørrelser, offsets
   - farver + font
--------------------------------------------------------- */
:root {
  --font-body: "Poppins", sans-serif;
}

/* ---------------------------------------------------------
   Global reset
--------------------------------------------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-body);
}

html,
body {
  height: 100%;
}

.bg {
  position: absolute;
  inset: auto 0 0 0;
  width: 100%;
  height: 100%;
  background: url(../images/facts/background.png);
  background-size: 100vw auto;
  overflow: hidden;
  background-position: center bottom;
  background-repeat: no-repeat;
}

/* Tilbage knappen */
#tilbage {
  position: absolute;
  top: 30px;
  left: 30px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

#tilbage:hover {
  transform: scale(1.05);
}

.image-button {
  position: relative;
  display: inline-flex;
  top: 2%;
  left: 30%;
  flex-direction: column;
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  transition: transform 0.3s ease;
  z-index: 100;
}

.image-button:hover {
  transform: scale(1.05);
}

.image-button img {
  max-width: 30%;
  height: auto;
}

.image-button span {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  font-weight: bold;
  font-size: 40px;
  max-width: 20%;
}

#skattekiste {
  position: absolute;
  bottom: 16px;
  left: 40px;
  transform: none;
  z-index: 1;
}

#skattekiste img {
  max-width: 50vh;
  height: auto;
}

.pirat {
  position: absolute;
  bottom: 158px;
  left: 340px;
  transform: none;
}

.pirat img {
  max-width: 100vw;
  height: 90vh;
}

/* Fiskenes animationer */
#gul-kirurgfisk {
  position: absolute;
  max-width: 20vw; /* skalerer pænt på små/større skærme */
  bottom: 55vh; /* placeret på y-aksen fra bunden */
  right: -80px; /* placeret på x-aksen */
  z-index: 3; /* sørg for den ligger over baggrunden */
  animation: gul-kirurg-swim 19s linear infinite;
  cursor: pointer;
}

@keyframes gul-kirurg-swim {
  100% {
    transform: translateX(100px);
  }
  0% {
    transform: translateX(-1700px);
  }
}

#dvaergkejserfisk {
  position: absolute;
  max-width: 20vw;
  bottom: -6vh;
  right: -80px;
  transform: none;
  z-index: 3;
  animation: dvaergkejserfisk-swim 24s linear infinite;
  cursor: pointer;
}

@keyframes dvaergkejserfisk-swim {
  100% {
    transform: translateX(100px) rotateY(180deg);
  }
  0% {
    transform: translateX(-1700px) rotateY(180deg);
  }
}

#paletkirurgfisk {
  position: absolute;
  max-width: 20vw;
  bottom: 25vh;
  right: -80px;
  transform: none;
  z-index: 3;
  animation: paletkirurgfisk-swim 14s linear infinite;
  cursor: pointer;
}

@keyframes paletkirurgfisk-swim {
  100% {
    transform: translateX(100px) rotateY(180deg);
  }
  0% {
    transform: translateX(-1700px) rotateY(180deg);
  }
}

#klovnefisk {
  position: absolute;
  max-width: 20vw;
  bottom: 40vh;
  right: -80px;
  transform: none;
  z-index: 3;
  animation: klovnefisk-swim 30s linear infinite;
  cursor: pointer;
}

@keyframes klovnefisk-swim {
  100% {
    transform: translateX(100px) rotateY(180deg);
  }
  0% {
    transform: translateX(-1600px) rotateY(180deg);
  }
}

#pudsefisk {
  position: absolute;
  max-width: 20vw;
  bottom: 50vh;
  right: -80px;
  transform: none;
  z-index: 3;
  animation: pudsefisk-swim 28s linear infinite;
  cursor: pointer;
}

@keyframes pudsefisk-swim {
  0% {
    transform: translateX(80px) rotateY(180deg);
  }
  100% {
    transform: translateX(-2000px) rotateY(180deg);
  }
}

#hvidstrubet-kirurgfisk {
  position: absolute;
  max-width: 20vw;
  bottom: 35vh;
  right: -80px;
  transform: none;
  z-index: 3;
  animation: hvidstrubet-kirurgfisk-swim 20s linear infinite;
  cursor: pointer;
}

@keyframes hvidstrubet-kirurgfisk-swim {
  0% {
    transform: translateX(200px);
  }
  100% {
    transform: translateX(-2000px);
  }
}

#pincetfisk {
  position: absolute;
  max-width: 20vw;
  bottom: 20vh;
  right: -80px;
  transform: none;
  z-index: 3;
  animation: pincetfisk-swim 24s linear infinite;
  cursor: pointer;
}

@keyframes pincetfisk-swim {
  0% {
    transform: translateX(400px) rotateY(180deg);
  }
  100% {
    transform: translateX(-2000px) rotateY(180deg);
  }
}

#sortbaandet-kirurgfisk {
  position: absolute;
  max-width: 20vw;
  bottom: 8vh;
  right: -80px;
  transform: none;
  z-index: 3;
  animation: sortbaandet-kirurgfisk-swim 15s linear infinite;
  cursor: pointer;
}

@keyframes sortbaandet-kirurgfisk-swim {
  0% {
    transform: translateX(300px) rotateY(180deg);
  }
  100% {
    transform: translateX(-2000px) rotateY(180deg);
  }
}

/* Bobble der forklarer hvad man kan gøre på siden */
#facts-bubble {
  position: absolute;
  display: inline-flex;
  right: 25vh;
  bottom: -1vh;
  align-items: center;
}

#facts-bubble span {
  text-align: center;
  position: absolute;
  top: 25%;
  left: 8%;
  color: black;
  font-weight: bold;
  font-size: 4vh;
  max-width: 14vw;
}

/* Bestemmer placering af pop-up med facts */
.facts {
  position: fixed;
  right: 40vw;
  bottom: 30vh;
  background-image: url(../images/facts/Pop-up.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 400px;
  height: 320px;
  padding: 30px;
  font-size: 14px;
  line-height: 1.35;
  box-shadow: 0 8px 22px rgba(0, 0, 0, 0.25);
  opacity: 0;
  transition: opacity 0.25s ease, transform 0.25s ease;
  pointer-events: none; /*så objektet ikke fanger musen når man flytter den henover*/
  z-index: 1000;
}

/* Tydeliggør tooltip pop-up */
.facts.is-visible {
  opacity: 1;
  transform: translateY(0);
}
